extends ./layout

block admin-header
	i.fa.fa-th-large
	| #{t('admin.sections.dashboard')}

block admin-actions
	a.btn.btn-indigo(href='/admin/users/' + user.id)
		span
			i.fa.fa-user
			= t('admin.users.myAccount')

block admin-content
	#admin-dashboard
		.admin-box
			= t('admin.dashboard.welcome', { name: user.firstName })