extends ./layout

block admin-header
	i.fa.fa-th-large
	| Dashboard | Welcome #{user.firstName}

block admin-actions
	a.btn.btn-indigo(href='/admin/account')
		span
			i.fa.fa-user
			| My Account

block admin-content
	#admin-dashboard
		.admin-box
			| Coming soon