extends ./layout

block admin-header
	i.fa.fa-bullhorn
	| Incidents / #{title}

block admin-actions
	a.btn.btn-indigo(href='/admin/templates')
		span
			i.fa.fa-arrow-left
			| Back to list

block admin-content
	#admin-templates-edit(data-id=tmpl.id)
		.admin-form
			section
				label Summary
				input#tmpl-summary(type='text', placeholder='Incident Summary', value=tmpl.name)
			section
				label Initial Report Content
				textarea#tmpl-editor= tmpl.content
			section.form-footer
				button.btn.btn-green#admin-templates-save
					span
						i.fa.fa-check
						| Save Incident