extends ./layout

block admin-header
	i.fa.fa-bullhorn
	| Incidents

block admin-content
	#admin-incidents
		if incidents.length > 0
			ul.admin-list
				each incident in incidents
					li(data-id=incident.id, data-name=incident.summary)
						span
							case incident.state
								when open: i.fa.fa-copy
								when scheduled: i.fa.fa-clock
								default: i.fa.fa-times
							p
								strong= incident.summary
								span= incident.state
						span
							a.btn.btn-blue(href='/admin/incidents/' + incident.id)
								span
									i.fa.fa-rocket
									| Post Update
							i.fa.fa-trash-o.delete-action
		else
			.admin-box
				| No incident has been filed yet.