extends ./layout

block admin-header
	i.fa.fa-globe
	| Regions

block admin-actions
	button.btn.btn-teal#admin-regions-new
		span
			i.fa.fa-plus
			| New Region

block admin-content
	#admin-regions
		if regions.length > 0
			ul.admin-list
				each region in regions
					li(data-id=region._id, data-name=region.name)
						span
							i.fa.fa-sort.handle
							p
								strong= region.name
						span
							i.fa.fa-edit.edit-action
							i.fa.fa-trash-o.delete-action
		else
			.admin-box
				| No region have been created yet.