button.btn.btn-teal.btn-block
	span
		i.fa.fa-plus
		| Create New Incident

ul.admin-sd
	li
		i.fa.fa-bullhorn
		| Incidents
	li
		i.fa.fa-copy
		| Templates
	li
		i.fa.fa-globe
		| Regions
	li
		i.fa.fa-tasks
		| Components
	li
		i.fa.fa-bookmark
		| Status
	li
		i.fa.fa-users
		| Users