a.btn.btn-teal.btn-block(href='/admin/incidents/create')
	span
		i.fa.fa-plus
		= t('admin.incidents.create')

ul.admin-sd
	li(data-link='/admin')
		i.fa.fa-th-large
		= t('admin.sections.dashboard')
	li(data-link='/admin/incidents')
		i.fa.fa-bullhorn
		= t('admin.sections.incidents')
	li(data-link='/admin/templates')
		i.fa.fa-copy
		= t('admin.sections.templates')
	li(data-link='/admin/components')
		i.fa.fa-tasks
		= t('admin.sections.components')
	li(data-link='/admin/regions')
		i.fa.fa-globe
		= t('admin.sections.regions')
	li(data-link='/admin/metrics')
		i.fa.fa-bar-chart
		= t('admin.sections.metrics')
	li(data-link='/admin/monitors')
		i.fa.fa-heartbeat
		= t('admin.sections.monitors')
	li(data-link='/admin/users')
		i.fa.fa-users
		= t('admin.sections.users')
	li(data-link='/admin/subscribers')
		i.fa.fa-bell
		= t('admin.sections.subscribers')
	li(data-link='/admin/api')
		i.fa.fa-sitemap
		= t('admin.sections.api')
	li(data-link='/admin/settings')
		i.fa.fa-gear
		= t('admin.sections.siteSettings')

a.btn.btn-light-blue.btn-block(href='/')
	span
		i.fa.fa-home
		= t('admin.dashboard.viewPublicDashboard')