a.btn.btn-teal.btn-block(href='/admin/incidents/create')
	span
		i.fa.fa-plus
		| Create New Incident

ul.admin-sd
	li(data-link='/admin')
		i.fa.fa-th-large
		| Dashboard
	li(data-link='/admin/incidents')
		i.fa.fa-bullhorn
		| Incidents
	li(data-link='/admin/templates')
		i.fa.fa-copy
		| Templates
	li(data-link='/admin/components')
		i.fa.fa-tasks
		| Components
	li(data-link='/admin/regions')
		i.fa.fa-globe
		| Regions
	li(data-link='/admin/metrics')
		i.fa.fa-bar-chart
		| Metrics
	li(data-link='/admin/monitors')
		i.fa.fa-heartbeat
		| Monitors
	li(data-link='/admin/users')
		i.fa.fa-users
		| Users
	li(data-link='/admin/subscribers')
		i.fa.fa-bell
		| Subscribers
	li(data-link='/admin/api')
		i.fa.fa-sitemap
		| API
	li(data-link='/admin/settings')
		i.fa.fa-gear
		| Site Settings

a.btn.btn-light-blue.btn-block(href='/')
	span
		i.fa.fa-home
		| View Public Dashboard