extends ./layout

block admin-header
	i.fa.fa-gear
	= t('admin.sections.siteSettings')

block admin-content
	#admin-settings
		.admin-form
			section
				label Display Layout
				input#layout_full(name='layout', type='radio', v-model='type', value='full', checked)
				label(for='layout_full') Full <em>(default)</em>
				input#layout_condensed(name='layout', type='radio', v-model='type', value='condensed')
				label(for='layout_condensed') Condensed
				input#layout_minimal(name='layout', type='radio', v-model='type', value='minimal')
				label(for='layout_minimal') Minimal
			section
				label Display Language
				+dropdown('language', 'language', 'en')(placeholder='English')
					each langName, langKey in appdata.lang
						+dropdownitem(langName, langKey, 'language', 'blue-grey')
			section
				label Default Timezone
				+dropdown('incident-timezone', 'timezone', 'UTC')(placeholder='UTC')
					each tz in moment.tz.names()
						+dropdownitem(tz, tz, 'clock-o', 'blue-grey', moment().tz(tz).format('Z z'))
			section
				label Components Display
				div
					input(id='incidents_active_collapsed', type='checkbox', v-model='components_groups_collapsed', value='yes')
					label(for='incidents_active_collapsed') Component Groups that have no incidents should be collapsed by default. <em>Default: no</em>
			section
				label Incidents Display
				div
					input(id='incidents_active_collapsed', type='checkbox', v-model='incidents_active_collapsed', value='yes')
					label(for='incidents_active_collapsed') Active Incidents should be collapsable. <em>Default: no</em>
				div
					input(id='incidents_past_collapsed', type='checkbox', v-model='incidents_past_collapsed', value='yes')
					label(for='incidents_past_collapsed') Past Incidents should be collapsable. <em>Default: yes</em>
			section.form-footer
				button.btn.btn-green#admin-settings-save
					span
						i.fa.fa-check
						= t('actions.saveChanges')