extends ./layout

block admin-header
	i.fa.fa-copy
	= t('admin.sections.templates')

block admin-actions
	a.btn.btn-teal(href='/admin/templates/create')
		span
			i.fa.fa-plus
			| Create Template

block admin-content
	#admin-templates
		if tmpls.length > 0
			ul.admin-list
				each tmpl in tmpls
					li(data-id=tmpl.id, data-name=tmpl.name)
						span
							i.fa.fa-copy
							= tmpl.name
						span
							a(href='/admin/templates/' + tmpl.id): i.fa.fa-edit.edit-action
							i.fa.fa-trash-o.delete-action
		else
			.admin-box
				| No template has been created yet.