extends ./layout

block admin-header
	i.fa.fa-copy
	= t('admin.sections.templates')

block admin-actions
	a.btn.btn-teal(href='/admin/templates/create')
		span
			i.fa.fa-plus
			| Create Template

block admin-content
	#admin-templates
		if tmpls.length > 0
			ul.admin-list
				each tmpl in tmpls
					li(data-id=tmpl.id, data-name=tmpl.name)
						span
							i.fa.fa-copy
							= tmpl.name
						span
							span.btn-group
								a.btn.btn-blue(href='/admin/templates/' + tmpl.id, title=t('actions.edit')).edit-action
									span
										i.fa.fa-edit
										= t('actions.edit')
								a.btn.btn-solo.btn-red(title=t('actions.delete')).delete-action
									span: i.fa.fa-trash-o
		else
			.admin-box
				| No template has been created yet.