extends ../layout

block content
	.dashboard
		.grid-3_lg-2_sm-1
			.col
				section
					h2
						i.fa.fa-check-circle 
						| Overview
					.box
						ul.status-list
							li
								h3
									span Web Applications
									i.fa.fa-check
								ul.components-list
									li
										span
											strong Corporate Website
											span Public facing website, investors relations, careers, etc.
										span
											strong OK
											i.fa.fa-check
									li
										span
											strong Intranet
											span Employee portal with news, documents and people search
										span
											strong OK
											i.fa.fa-check
									li
										span
											strong Extranet
											span Document libraries for projects and external stakeholders
										span
											strong OK
											i.fa.fa-check
							li
								h3
									span Communications
									i.fa.fa-check
								ul.components-list
									li
										span
											strong Exchange
											span Email and Calendar services
										span
											strong OK
											i.fa.fa-check
									li
										span
											strong Skype for Business
											span Instant-messaging, audio and video conferencing services
										span
											strong OK
											i.fa.fa-check
							li
								h3.status-perfissues
									span Network
									i.fa.fa-check
								ul.components-list
									li
										span
											strong LAN
											span Internal network within offices
										span
											strong OK
											i.fa.fa-check
									li
										span
											strong WAN
											span Internet access and external resources
										span.status-perfissues
											strong Performance Issues
											i.fa.fa-minus-square
									li
										span
											strong VPN
											span Encrypted tunnel between a client and the private internal network
										span
											strong OK
											i.fa.fa-check
							li
								h3
									span Data Storage
									i.fa.fa-check
								ul.components-list
									li
										span
											strong File Shares
											span Network storage for users / projects
										span
											strong OK
											i.fa.fa-check
									li
										span
											strong Databases
											span Application databases
										span
											strong OK
											i.fa.fa-check
							li
								h3
									span Cloud Services
									i.fa.fa-check
								ul.components-list
									li
										span
											strong Office 365
											span Microsoft online services for businesses
										span
											strong OK
											i.fa.fa-check
									li
										span
											strong Visual Studio Online
											span Services for developers and testers
										span
											strong OK
											i.fa.fa-check
			.col
				section
					h2
						i.fa.fa-bullhorn
						| Incidents
					.box
						ul.incidents-list
							li
								h3.status-perfissues
									span WAN intermittent packet loss
									i.fa.fa-minus-square
								ul.incident-properties
									li
										strong Component:
										span Network - WAN
									li
										strong Severity:
										span Performance Issues
									li
										strong Logged on:
										span Jun 29, 15:10 UTC
									li
										strong Affected Regions:
										span
											a(href='/canada') Canada
											| , 
											a(href='/canada') USA
											|  and 
											a(href='/canada') UK
								ul.updates-list
									li
										strong Update
										span We are working with our internet provider to resolve this issue.
										em Jun 29, 15:14 UTC
									li
										strong Identified
										span We are currently experiencing intermittent packet loss on the WAN.
										em Jun 29, 15:10 UTC
							li
								h3.status-majordown
									span WAN intermittent packet loss
									i.fa.fa-circle
								ul.incident-properties
									li
										strong Component:
										span Network - WAN
									li
										strong Severity:
										span Performance Issues
									li
										strong Logged on:
										span Jun 29, 15:10 UTC
									li
										strong Affected Regions:
										span
											a(href='/canada') Canada
											| , 
											a(href='/canada') USA
											|  and 
											a(href='/canada') UK
								ul.updates-list
									li
										strong Update
										span We are working with our internet provider to resolve this issue.
										em Jun 29, 15:14 UTC
									li
										strong Identified
										span We are currently experiencing intermittent packet loss on the WAN.
										em Jun 29, 15:10 UTC
				section
					h2
						i.fa.fa-history
						| Past Incidents
					.box.no-content
						| No recent past incidents
			.col
				section
					h2
						i.fa.fa-globe
						| Regions
					.box.no-content
						ul.regions-list
							li
								span
									i.fa.fa-globe
									a(href='/') Global
								span 0 incidents
							li
								span
									i.fa.fa-globe
									a(href='/canada') Africa
								span 0 incidents
							li
								span
									i.fa.fa-globe
									a(href='/canada') Australia
								span 0 incidents
							li
								span
									i.fa.fa-globe
									a(href='/canada') Canada
								span 1 incident
							li
								span
									i.fa.fa-globe
									a(href='/canada') Sweden
								span 0 incidents
							li
								span
									i.fa.fa-globe
									a(href='/canada') United States
								span 1 incident
							li
								span
									i.fa.fa-globe
									a(href='/canada') United Kingdom
								span 1 incident
				section
					h2
						i.fa.fa-line-chart
						| Uptime
					.box.no-content
						| Coming soon