
.admin {
	padding: 25px;

	.col, [class*=col-] {
		padding: 0 1rem 1rem;
	}

}

.admin-sd {
	background-color: material-color('blue-grey', '50');
	border: 1px solid material-color('blue-grey', '100');
	border-radius: 2px;
	margin: 15px 0;
	padding: 0;
	list-style-type: none;

	> li {
		padding: 10px 15px;
		border-top: 1px solid material-color('blue-grey', '100');
		font-size: 14px;
		font-weight: 600;
		color: material-color('blue-grey', '800');
		cursor: pointer;

		&:first-child {
			border-top: none;
		}

		&:hover, &.active {
			background-color: material-color('blue-grey', '100');
			text-shadow: 1px 1px 0 #FFF;
		}

		.fa {
			margin-right: 10px;
			width: 16px;
		}

	}

}

.admin-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;

	h1 {
		margin: 0;
		font-size: 20px;
		font-weight: 400;
		color: material-color('teal', '700');

		.fa {
			margin-right: 10px;
		}

	}

	button, a {
		margin-left: 5px;
	}

}

.admin-box {
	border: 1px solid material-color('grey', '300');
	border-radius: 2px;
	background-color: #FFF;
	padding: 25px;
	color: material-color('grey', '700');
	font-size: 14px;
}

.admin-form {
	border: 1px solid material-color('grey', '300');
	border-radius: 2px;
	background-color: #FFF;
	padding: 0;
	color: material-color('grey', '700');
	font-size: 14px;

	section {
		border-top: 1px dotted #CCC;
		padding: 15px 25px;

		&:first-child {
			border-top: none;
		}

		&.hidden {
			display: none;

			& + section {
				border-top: none;
			}

		}

		&.grid {
			margin: 0 -25px;
			padding: 15px 35px;

			.col {
				padding: 0 15px;
			}

		}

		label:first-child {
			display: block;
			color: material-color('grey', '600');
			padding-bottom: 5px;
			font-size: 14px;
			font-weight: 600;
		}

		input[type=text] {
			border: 1px solid #CCC;
			border-radius: 4px;
			background-color: #FFF;
			height: 40px;
			display: flex;
			align-items: center;
			padding: 0 15px;
			font-family: inherit;
			font-size: 14px;
			color: material-color('grey', '700');
			width: 100%;
			transition: .5s ease;

			&:hover {
				@include prefix(box-shadow, inset 0 0 5px 0 rgba(0,0,0,0.20));
				border-color: material-color('blue-grey', '200');
			}

			&.datepicker {
				width: 120px;
				display: inline-block;
			}
			&.timepicker {
				width: 80px;
				display: inline-block;
			}

		}

		.dropdown li .fa {

			@include status-colors('color');

		}

		&.form-footer {
			display: flex;
			justify-content: flex-end;
		}

	}

}

.admin-prelist {
	padding: 15px;
	border: 1px solid material-color('teal', '100');
	border-radius: 2px;
	background-color: material-color('teal', '50');
	margin-bottom: 15px;

	> h2 {
		font-size: 14px;
		margin: 0;
		padding: 0 0 5px 0;
		font-size: 16px;
		font-weight: 600;
		color: material-color('teal','500');
	}

	> span {
		display: block;
		font-size: 14px;
		margin: 0;
		padding: 0 0 15px 0;
		font-size: 12px;
		font-weight: 400;
		color: material-color('teal','500');
	}

}

.admin-headlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	> li {
		padding: 15px;
		border: 1px solid material-color('blue', '100');
		border-radius: 2px;
		background-color: material-color('blue', '50');
		margin-bottom: 15px;

		> h2 {
			align-items: center;
			display: flex;
			font-size: 14px;
			margin: 0;
			padding: 0 0 15px 0;
			justify-content: space-between;

			> span:first-child {
				display: flex;
				align-items: center;
				font-size: 20px;
				font-weight: 600;
				color: material-color('blue', '700');

				.fa {
					padding-right: 10px;
					color: material-color('blue', '600');
					font-size: 16px;
				}
			}

			.handle {
				cursor: move;
			}

			> span:last-child {
				display: flex;
				align-items: center;

				.fa {
					margin-left: 10px;
					cursor: pointer;
					color: material-color('blue', '700');
				}

			} 

		}

		> ul {
			margin-left: 25px;
		}

	}

}

.admin-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border: 1px solid material-color('grey', '400');
	border-radius: 2px;
	background-color: #FFF;
	min-height: 25px;

	> li {
		align-items: center;
		border-top: 1px solid material-color('grey', '400');
		display: flex;
		font-size: 14px;
		justify-content: space-between;
		padding: 10px 15px;
		transition: all 0.5s ease;

		&:first-child {
			border-top: none;
		}

		&.active {
			background-color: material-color('grey', '100');
		}

		> span:first-child {
			display: flex;
			align-items: center;

			.fa {
				padding-right: 15px;
				color: material-color('teal', '600');
			}

			p {
				padding: 0;
				margin:0;

				> strong {
					display: block;
					font-weight: 600;
					color: material-color('teal', '800');
				}
				
				> span {
					display: block;
					font-size: 12px;
					color: material-color('grey', '600');
				}

			}

		}

		.handle {
			cursor: move;
		}

		> span:last-child {
			display: flex;
			align-items: center;

			.fa {
				margin-left: 10px;
				cursor: pointer;
				color: material-color('teal', '700');
			}

		} 

	}

}