
.dashboard {
	padding: 25px;
	max-width: 80%;
  margin-right: auto;
  margin-left: auto;

	.col, [class*=col-] {
		padding: 0 2rem 1rem;
	}

	.col.alt {
		border-left: 2px dotted material-color('grey','300');
	}

	@media screen and (max-width: 110em) {
		& {
			max-width: 90%;
		}
	}

	@media screen and (max-width: 80em) {
		& {
			max-width: 100%;
		}
	}

	@media screen and (max-width: 48em) {
		.col.alt {
			border-left: none;
		}
	}

	section {

		h2 {
			color: material-color('grey','700');
			font-weight: 400;
			font-size: 18px;
			text-shadow: 1px 1px 0 #FFF;
			margin: 0 0 10px 0;
			text-align: center;

			.fa {
				margin-right: 10px;
			}

		}

		.box {
			background-color: #FFF;
			box-shadow: 0 2px 4px rgba(0,0,0,0.1);
			border-radius: 2px;
		}

		& + section {
			margin-top: 25px;
		}

	}

	.no-content {
		padding: 15px;
		color: material-color('grey','500');
		font-size: 14px;
	}

}

