
input[type=radio], input[type=checkbox] {
	position: absolute;
  left: -9999px;
  opacity: 0;

  & + label {
		position: relative;
		padding: 0 15px 0 25px;
		cursor: pointer;
		display: inline-block;
		height: 25px;
		line-height: 25px;
		font-size: 14px;
		transition: .28s ease;
		@include prefix('user-select', none);

		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			margin: 4px;
			border: 2px solid #26a69a;
			margin: 4px;
	    width: 16px;
	    height: 16px;
	    border-radius: 50%;
			z-index: 0;
			transition: .28s ease;
		}

  }

  &:checked + label {

  	&:before, &:after {
			border-color: material-color('teal', '500');
		}

		&:after {
			@include prefix('transform', scale(0.5));
			background-color: material-color('teal', '500');
		}

  }

}

input[type=checkbox] + label {
	&:before, &:after {
    border-radius: 0;
	}
}