
.incidents-list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	> li {

		&:first-child > h3 {
			border-radius: 2px 2px 0 0;
		}

		+ li {
			margin-top: 15px;
		}

		> h3 {
			background-color: material-color('blue-grey','500');
			box-shadow:	0 0 2px rgba(0,0,0,0.15);
			border-bottom: 4px solid material-color('blue-grey','300');
			color: #FFF;
			margin: 0;
			padding: 5px 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include status-colors('background-color', 1);
			@include status-colors('border-bottom-color', -2);

			span {
				font-size: 14px;
				font-weight: 500;
				color: #FFF;
			}

			.fa {
				font-size: 14px;
				font-weight: 400;
				display: inline-block;
			}

		}

	}

}

.incident-properties {
	@include status-colors('background-color', 50);
	box-shadow:	0 1px 1px rgba(0,0,0,0.15);
	border: 1px solid #FFF;
	margin: 0;
	padding: 9px 15px;
	list-style-type: none;

	li {
		font-size: 12px;
		padding: 0;

		strong {
			font-weight: 500;
			text-transform: uppercase;
			color: material-color('blue-grey','600');
			display: inline-block;
			margin-right: 10px;
		}

		span {
			font-weight: 400;
			color: material-color('blue-grey','800');
		}

	}

}

.incident-schedule {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	border: 1px solid #FFF;
	border-top: none;
	box-shadow:	0 1px 1px rgba(0,0,0,0.15);

	> li {
		display: flex;
		align-items: center;
		flex: 1 1 auto;
		padding: 0 15px 0 30px;
		height: 34px;
		background-color: lighten(material-color('blue','100'), 5%);
		font-size: 12px;
		font-weight: 500;
		color: desaturate(material-color('blue','800'), 35%);
		text-shadow: 1px 1px 0 rgba(255,255,255,0.7);

		&:first-child {
			background-color: material-color('blue','100');
			position: relative;
			padding-left: 15px;
			flex-basis: 24%;

			&::before {
				position: absolute;
				right: 0;
				content: "";
				transform: translateY(-50%) translateX(50%) rotate(-45deg);
				border-right: 1px solid #FFF;
				border-bottom: 1px solid #FFF;
				background-color: inherit;
				width: 2em;
				height: 2em;
				top: 50%;
			}

		}

		> span {
			display: inline-block;
			margin-right: 8px;
			color: material-color('blue','800');
		}

	}

}

.updates-list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	> li {
		box-shadow:	0 1px 1px rgba(0,0,0,0.15);
		display: none;

		&:first-child {
			border-top: none;
			display: block;
		}

		> div {
			padding: 15px 15px 0;
			
			p {
				margin: 0;
				padding: 0 0 10px;
				font-size: 14px;
				line-height: 18px;
				color: material-color('blue-grey','600');
			}

			strong {
				font-weight: 600;
			}

			h1, h2, h3 {
				border-bottom: 1px solid #CCC;
				margin: 0 0 8px;
				font-weight: 500;
				color: material-color('blue-grey','500');
			}
			
			h1 {
				font-size: 20px;
			}

			h2 {
				font-size: 18px;
			}

			h3 {
				font-size: 16px;
			}

		}

		> span {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 12px;
			background-color: lighten(material-color('blue-grey','50'), 3%);
			border: 1px solid #FFF;
			border-top: none;
			padding: 5px 15px;

			> strong {
				color: material-color('green','700');
				font-weight: 500;
				text-transform: uppercase;
				
				> i {
					display: inline-block;
					margin-right: 5px;
				}

			}

			> em {
				font-size: 12px;
				font-style: normal;
				color: material-color('blue-grey','400');
			}

		}

	}

}

.updates-list-more {
	display: block;
	background-color: material-color('blue-grey','50'); 
	border-bottom: 1px solid lighten(material-color('blue-grey','50'), 3%);
	color: material-color('blue-grey','300');
	height: 10px;
	box-shadow:
		inset 0 1px 1px rgba(0,0,0,0.15),
		inset 0 9px 0 -5px lighten(material-color('blue-grey','50'), 5%),
		inset 0 9px 1px -4px rgba(0,0,0,0.15),
		inset 0 18px 0 -10px lighten(material-color('blue-grey','50'), 4%),
		inset 0 18px 1px -9px rgba(0,0,0,0.15);

	&.reverse {
		display: none;
	}

}

.updates-list-morebtn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	background-color: lighten(material-color('blue-grey','50'), 3%);
	background-image: linear-gradient( to bottom, lighten(material-color('blue-grey','50'), 3%), #FFF);   
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	border-bottom: 1px solid lighten(material-color('blue-grey','100'), 10%);
	box-shadow: 0px 2px 0px rgba(255,255,255,1), 0px 1px 1px rgba(0,0,0,.15);
	color: material-color('blue-grey','300');
	padding: 5px 0;
	cursor: pointer;

	.fa:last-child {
		display: none;
	}

	&.reverse {
		.fa:first-child {
			display: none;
		}
		.fa:last-child {
			display: inline;
		}
	}

}