
.incidents-list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	> li {

		&:first-child > h3 {
			border-radius: 2px 2px 0 0;
		}

		+ li {
			margin-top: 15px;
		}

		> h3 {
			background-color: material-color('blue-grey','500');
			border-bottom: 4px solid material-color('blue-grey','300');
			color: #FFF;
			margin: 0;
			padding: 5px 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include status-colors('background-color', 1);
			@include status-colors('border-bottom-color', -2);

			span {
				font-size: 14px;
				font-weight: 500;
				color: #FFF;
			}

			.fa {
				font-size: 14px;
				font-weight: 400;
				display: inline-block;
			}

		}

	}

}

.incident-properties {
	background-color: lighten(material-color('blue-grey','50'), 3%);
	box-shadow:	0 1px 1px rgba(0,0,0,0.15);
	border: 1px solid #FFF;
	margin: 0;
	padding: 9px 15px;
	list-style-type: none;

	li {
		font-size: 12px;
		padding: 0;

		strong {
			font-weight: 500;
			text-transform: uppercase;
			color: material-color('blue-grey','600');
			display: inline-block;
			margin-right: 10px;
		}

		span {
			font-weight: 400;
			color: material-color('blue-grey','800');
		}

	}

}

.updates-list {
	padding: 0;
	margin: 0;
	list-style-type: none;

	> li {
		box-shadow:	0 1px 1px rgba(0,0,0,0.15);

		&:first-child {
			border-top: none;
		}

		> div {
			padding: 15px 15px 0;
			
			p {
				margin: 0;
				padding: 0 0 10px;
				font-size: 14px;
				line-height: 18px;
				color: material-color('blue-grey','600');
			}

			strong {
				font-weight: 600;
			}

			h1, h2, h3 {
				border-bottom: 1px solid #CCC;
				margin: 0 0 8px;
				font-weight: 500;
				color: material-color('blue-grey','500');
			}
			
			h1 {
				font-size: 20px;
			}

			h2 {
				font-size: 18px;
			}

			h3 {
				font-size: 16px;
			}

		}

		> span {
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 12px;
			background-color: lighten(material-color('blue-grey','50'), 3%);
			padding: 5px 15px;

			> strong {
				color: material-color('green','700');
				font-weight: 500;
				text-transform: uppercase;
				
				> i {
					display: inline-block;
					margin-right: 5px;
				}

			}

			> em {
				font-size: 12px;
				font-style: normal;
				color: material-color('blue-grey','400');
			}

		}

	}

	&.past {

		> li {
			display: none;

			&:first-child {
				display: block;
			}

		}

	}

}

.updates-list-more {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	font-size: 12px;
	background-color: lighten(material-color('blue-grey','50'), 3%);
	border-bottom: 1px solid material-color('blue-grey','100');
	color: material-color('blue-grey','300');
	padding-top: 10px;
	cursor: pointer;
	box-shadow:
		inset 0 1px 1px rgba(0,0,0,0.15),
		inset 0 9px 0 -5px lighten(material-color('blue-grey','50'), 5%),
		inset 0 9px 1px -4px rgba(0,0,0,0.15),
		inset 0 18px 0 -10px lighten(material-color('blue-grey','50'), 4%),
		inset 0 18px 1px -9px rgba(0,0,0,0.15);

	.fa:last-child {
		display: none;
	}

	&.reverse {
		box-shadow: none;

		.fa:first-child {
			display: none;
		}
		.fa:last-child {
			display: inline;
		}

	}

}