
.regions-list {
	margin: 0;
	list-style-type: none;
	padding: 15px;
	color: material-color('grey','500');
	font-size: 14px;

	li {
		border-top: 1px dotted material-color('blue-grey','100');
		padding: 5px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:first-child {
			border-top: none;
		}

		.fa {
			margin-right: 10px;
			color: material-color('blue-grey','100');
		}

		> span {

		}

	}

}