
.status-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	> li {

		&:first-child > h3 {
			border-radius: 2px 2px 0 0;
		}

		h3 {
			background-color: material-color('green','600');
			border-bottom: 4px solid material-color('green','300');
			box-shadow: 0px 2px 5px 0px transparentize(material-color('green', '700'), 0.7);
			color: #FFF;
			margin: 0;
			padding: 5px 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include status-colors('background-color', 1);
			@include status-colors('border-bottom-color', -2);

			span {
				font-size: 14px;
				font-weight: 500;
				text-transform: uppercase;
				color: #FFF;
			}

			.fa {
				font-size: 14px;
				font-weight: 400;
			}

		}

	}

}

.components-list {
	margin: 0;
	padding: 5px 15px;
	list-style-type: none;

	> li {
		border-top: 1px dotted material-color('blue-grey','100');
		padding: 5px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:first-child {
			border-top: none;
		}

		> span:first-child {
			display: block;

			strong {
				color: material-color('blue-grey','800');
				display: flex;
				font-size: 14px;
				font-weight: 500;
			}

			span {
				color: material-color('blue-grey','700');
				font-size: 12px;
				display: flex;
			}

		}

		> span:last-child {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			color: material-color('green','500');
			padding-left: 10px;

			strong {
				display: inline-flex;
				font-size: 12px;
				font-weight: 500;
				margin-right: 10px;
				text-transform: uppercase;
				text-align: right;
			}

			@include status-colors('color');

		}

	}

}
