footer
	span
		| Powered by 
		a(href='https://github.com/wspglobal/opsstatus') Ops Status
		| .
	ul
		li: a(href='/') Home
		li: a(href='/admin') Administration
		li: a(href='/rss') RSS
		li: a(href='/atom') Atom