html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: material-color('blue-grey','50');
}

a {
	color: material-color('light-blue', '700');
	text-decoration: none;

	&:hover {
		color: material-color('light-blue', '900');
		text-decoration: underline;
	}

}

main {
	background-color: material-color('grey', '50');
	z-index: 0;
}