html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Poppins', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: material-color('blue-grey','50');
}

a {
	color: material-color('light-blue', '700');
	text-decoration: none;

	&:hover {
		color: material-color('light-blue', '900');
		text-decoration: underline;
	}

}

main {
	display: block; // IE fix
	background-color: material-color('grey', '50');
	z-index: 0;
}

template {
	display: none; // IE fix
}

.server-error {
	padding: 25px;
	text-align: center;

	pre {
		text-align: left;
	}

}

// ========================================
// Animations
// ========================================

@include keyframes(swing) {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@include keyframes(slideFromRight) {
	from {
		transform: translate3d(25%, 0, 0);
		opacity: 0.1;
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@include keyframes(zoomOut) {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	to {
		opacity: 0;
	}
}