header {
	background-color: material-color('light-blue', '700');
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	position: relative;
	z-index: 1;

	.logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;

		> span {
			font-weight: 400;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			color: #FFF;
			display: inline-block;
			padding-left: 25px;
		}

		> a {
			display: inline-block;
			height: 30px;
			transition: opacity 0.5s ease;

			&:hover {
				opacity: 0.8;
			}

		}

		> div {
			display: flex;

			> span {
				font-weight: 400;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				color: #FFF;
				display: inline-block;
				padding-right: 25px;
			}

		}

		button {
			display: inline-flex;
			align-items: center;
			border: 2px solid rgba(255,255,255,0.7);
			background-color: rgba(255,255,255,0);
			border-radius: 5px;
			height: 30px;
			padding: 0 10px;
			color: #FFF;
			margin-right: 25px;
			cursor: pointer;
			transition: all 0.5s ease;

			&:hover {
				background-color: rgba(255,255,255,0.25);
			}

			> span {
				display: inline-flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;

				.fa {
					margin-right: 5px;
				}

			}

		}

	}

	> nav {
		background-color: #FFF;

		ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style-type: none;
			justify-content: center;

			li {
				border-right: 1px solid material-color('grey', '100');
				display: inline-flex;
				height: 40px;
				padding: 0 15px;
				align-items: center;
				font-size: 14px;
				font-weight: 400;
				color: material-color('grey', '600');
				cursor: default;
				transition: all 0.5s ease;
				cursor: pointer;

				&:hover {
					background-color: material-color('grey', '100');
				}

				&:first-child {
					border-left: 1px solid material-color('grey', '100');
				}

				&.active {
					background-color: material-color('light-blue', '700');
					color: #FFF;
					box-shadow: 0px 5px 10px 0px transparentize(material-color('light-blue', '700'), 0.5);
					border: none;
				}

				.fa {
					margin-right: 10px;
				}

			}

		}

	}

	.sub-header {
		display: flex;
		background-color: material-color('light-blue', '800');
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #FFF;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.05);
		height: 50px;

		> h1 {
			margin: 0;
			padding: 0;
			font-size: 24px;
			font-weight: 300;
			color: #FFF;
			letter-spacing: 1px;
		}

	}

}

#notifload {
	width: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity .5s ease;
	margin-right: 10px;

	&::before {
		content: " ";
		@include spinner(material-color('light-blue', '100'),0.5s,24px);
	}

	&.active {
		opacity: 1;
	}

}
